
@{
    ViewBag.Title = "Arquivos";
}

@model Gerenciador.Entidades.Arquivo

<h2>Arquivos</h2>
<br />

<style rel="stylesheet" type="text/css" scoped="scoped">

    .dropdown {
        width: 270px;
        max-width: 550px;
        height: 40px;
        font-size: large;
    }
</style>

<script>


    var link = null;

    $(document).ready(function () {


        var page; var min; var max; var tamPage = 15; var qtdPages = 20; 

        $("#btnNovo").on('click', function (e) {

            $('#hdnIndice').val('');

            $('#upload_File').click();
        });


        $('#Repositorio').on('change', function (e) {

            $.ajax({

                data: "json",
                url: '/Arquivo/Obter_Clientes_Sistemas?idRepositorio=' + $('#Repositorio').val(),
                type: 'GET',                
                success: function (retorno) {

                    $('#SistemaCliente').empty();

                    $('#SistemaCliente').append(new Option('SELECIONE UM SISTEMA/CLIENTE', ''))

                    $.each(retorno, function (data,data) {

                        $('#SistemaCliente').append(new Option(data.Nome,data.IdSistemaCliente));
                    })

                }

            });

        });

        $("#SistemaCliente").on('change', function (e) {

            e.preventDefault();

            page = 1;

            $("#tblArquivo tbody tr").remove();

            $('#loading').show();

            if ($(this).val() != '') {

                Gerar_Grid();

                $('.linkPrevious').hide();

                Configurar_Paginacao();
            }

            else {

                $.notify('Informe um Sistema / Cliente!', { type: "warning" });

                $('#pager').html('');

                $('#loading').hide();
            }
        });



        $(document).find('#upload_File').change(function (e) {

            e.preventDefault();

            if ($('#SistemaCliente').val() == '') return;

            $('#loading').show();

            var arquivo = e.target.files[0];

            var fr = new FileReader();

            fr.onload = function (e) {

                // Create a new FormData object.
                var formData = new FormData();

                $('#loading').show();

                formData.append('SistemaCliente', $('#SistemaCliente').val());

                formData.append('Repositorio', $('#Repositorio').val());

                formData.append('hdnIndice', $('#hdnIndice').val());

                formData.append('Arquivo', e.target.result.split(',')[1]);

                formData.append('NomeArquivo', arquivo.name);

                // Set up the AJAX request.
                var xhr = new XMLHttpRequest();

                // Open the connection.
                xhr.open('POST', '/Arquivo/Importar', true);

                // Set up a handler for when the request finishes.
                xhr.onload = function (data) {

                    if (xhr.status === 200) {

                        $.notify(JSON.parse(xhr.responseText).Mensagem, { type: (JSON.parse(xhr.responseText).Success ? "success" : "danger") });


                        if ($('#hdnIndice').val() == '') {

                            var tr = '<tr>';

                            tr = tr + ' <td style="text-align:left">' + JSON.parse(xhr.responseText).arquivo.nome + '</td>';
                            tr = tr + ' <td style="text-align:center">' + JSON.parse(xhr.responseText).arquivo.tamanho + ' bytes</td>';
                            tr = tr + ' <td style="text-align:center">' + JSON.parse(xhr.responseText).arquivo.dataCadastro + '</td>';
                            tr = tr + ' <td style="text-align:center"><a data-id=' + JSON.parse(xhr.responseText).arquivo.indice + ' class="link btnExcluir" href="#">Excluir</a></td>';
                            tr = tr + ' <td style="text-align:center"><a data-id=' + JSON.parse(xhr.responseText).arquivo.indice + ' class="link btnAtualizar" href="#">Atualizar</a></td>';
                            tr = tr + ' <td style="text-align:center"><a data-id=' + JSON.parse(xhr.responseText).arquivo.indice + ' class="link btnDownload" href="#">Download</a></td>';
                            tr = tr + '</tr>';

                            $("#tblArquivo tbody").append(tr);

                            Configurar_Botoes_Grid();

                        }

                        else {

                            $((link.parent().parent().find('td')[0])).html(JSON.parse(xhr.responseText).arquivo.nome);                          

                            $((link.parent().parent().find('td')[1])).html(JSON.parse(xhr.responseText).arquivo.dataCadastro);

                            $((link.parent().parent().find('td')[2])).html(JSON.parse(xhr.responseText).arquivo.tamanho + ' bytes');

                        }
                    }
                };

                // Send the Data.
                xhr.send(formData);

                $('#upload_File').val('');

                $('#loading').hide();

            };

            fr.readAsDataURL(arquivo);
        });

        $("#txtPesquisa").focusout(function (e) {

            e.preventDefault();

            page = 1;

            $("#tblArquivo tbody tr").remove();

            $('#loading').show();

            Gerar_Grid();

            $('.linkPrevious').hide();

            Configurar_Paginacao();


        });

       

        function Gerar_Grid() {

            $("#tblArquivo tbody").empty();

            $('#loading').show();

            $.ajax({
                dataType: "json",
                url: '/Arquivo/ObterArquivos?idRepositorio=' + $('#Repositorio').val() + '&idSistemaCliente=' + $('#SistemaCliente').val() + '&filtro=' + $('#txtPesquisa').val() + '&page=' + parseInt(page) + '&take=' + tamPage,
                async: false,
                success: function (retorno) {


                    if (retorno.Sucesso) {


                        if (retorno.Arquivos.length) {

                       

                            $.each(retorno.Arquivos, function (data, data) {

                                var tr = '<tr>';

                                tr = tr + ' <td style="text-align:left">' + data.NomeArquivo + '</td>';
                                tr = tr + ' <td style="text-align:center">' + data.Tamanho + ' bytes</td>';
                                tr = tr + ' <td style="text-align:center">' + data.DataCadastro_ + '</td>';
                                tr = tr + ' <td style="text-align:center"><a data-id=' + data.Indice + ' class="link btnExcluir" href="#">Excluir</a></td>';
                                tr = tr + ' <td style="text-align:center"><a data-id=' + data.Indice + ' class="link btnAtualizar" href="#">Atualizar</a></td>';
                                tr = tr + ' <td style="text-align:center"><a data-id=' + data.Indice + ' class="link btnDownload" href="#">Download</a></td>';
                                tr = tr + '</tr>';

                                $("#tblArquivo tbody").append(tr);

                            });

                            Configurar_Botoes_Grid();

                            Configurar_Paginacao();



                        } else {

                            $.notify("Nenhum arquivo encontrado nos repositórios pesquisados.", { type: "info" });

                            $('#pager').html('');                 
                        }

                        
                    } else {
                        $.notify(retorno.Mensagem, { type: "danger" });
                    }
                    $('#loading').hide();
                }
            });
        }


        function Configurar_Paginacao() {

            $('#pager').html('');

            var pager = "<nav aria-label=''>";

            pager = pager + "<ul class='pagination'>";

            pager = pager + "<li class='page-item'>";

            if (page  == 1)

                pager = pager + "<a  style='display:none' class='page-link link linkPrevious' href='#' aria-label='Previous' ";
            else

                pager = pager + "<a style='display:block' data-page=" + parsein(page - 1) + " class='page-link  link linkPrevious' href='#' aria-label='Previous' ";

            pager = pager + "<span aria-hidden='true'>&laquo;</span>";

            pager = pager + "<span class='sr-only'>Anterior</span>";

            pager = pager + "</a>";

            pager = pager + " </li>";

           

            for (var i = page; i < qtdPages; i++) {

                pager = pager + "<li class='page-item'><a class='page-link link numPage' data-page=" + i + " href='#'>" + i + "</a></li>";

            }


            //$('#tblArquivo').find('tbody').find('tr').length
            pager = pager + "<li class='page-item'><a class='page-link link linkNext'   href='#'><span aria-hidden='true'>&raquo;</span></a></li>";

            pager = pager + "</ul>  </nav>";

            $('#pager').html(pager);


            Configurar_Botoes_Pager();



        }
        function Configurar_Botoes_Grid() {

            $(".btnExcluir").unbind('click');
            $(".btnExcluir").on('click', function (e) {

                e.preventDefault();

                if (confirm('Deseja excluir este arquivo?')) {

                    link = $(this);

                    $.getJSON('/Arquivo/Excluir_Arquivo?indice=' + $(this).data('id'), function (data) {

                    }).done(function (data) {

                        if(data.Success)
                            link.parent().parent().hide();
                         
                        $.notify(data.Mensagem, { type: (data.Success)?'success':'danger' });
                    });

                }
            });

            $(".btnAtualizar").unbind('click');
            $(".btnAtualizar").on('click', function (e) {

                e.preventDefault();

                link = $(this);

                var value = $(this).data('id'); // idIndice..

                $('#hdnIndice').val(value);

                $('#upload_File').click();

            });

            $(".btnDownload").unbind('click');
            $(".btnDownload").on('click', function (e) {

                e.preventDefault();

                $.getJSON('/Arquivo/Obter_Arquivo?indice=' + $(this).data('id'), function (data) {


                }).done(function (data) {

                    if (data.Success) {

                        var bytes = new Uint8Array(data.Entidade.Conteudo); // pass your byte response to this constructor

                        var blob = new Blob([bytes], { type: "application/pdf" });// change resultByte to bytes

                        var link = document.createElement('a');
                        link.href = window.URL.createObjectURL(blob);
                        link.download = data.Entidade.NomeArquivo;
                        link.click();

                    } else {
                        $.notify(data.Mensagem, { type: "info" });
                    }
                });
            });

        }

        function Configurar_Botoes_Pager() {


            //Eventos dos botões de paginação...
            $(".numPage").on('click', function (e) {

                page = parseInt($(this).data('page'));

            });



            $(".linkPrevious").on('click', function (e) {

            
            });

            $(".linkNext").on('click', function (e) {

            });
        }

    });

</script>

@using (Html.BeginForm("Importar", "Arquivo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

<div class="row-fluid" style="margin-left:-20px;margin-top:20px">

    <div class="col-lg-3">

        @Html.DropDownList("Repositorio", new SelectList(ViewBag.Repositorios, "IdRepositorio", "Nome"), "INFORME UM REPOSITÓRIO ...", new { @class = "dropdown" })
    </div>


    <div class="col-lg-3">

     <select id="SistemaCliente" class="dropdown"></select>
    </div>

    <div class="col-lg-4" style="padding-top:0px">
        <input type="button" class="button" id="btnNovo" value="Upload Arquivo" />
    </div>

    <input style="display:none" id="upload_File" type="file" data-filename-placement="inside" />

    <input type="hidden" name="hdnIndice" id="hdnIndice" />

</div>

    <br /><br />

    <div class="row-fluid" style="text-align:right">

        <div class="row">

            <table id="tblArquivo" class="table">
                <thead>
                    <tr>


                        <th style="text-align:center">
                            @Html.DisplayNameFor(Model => Model.NomeArquivo)
                        </th>

                        <th style="text-align:center">
                            @Html.DisplayNameFor(Model => Model.Tamanho)
                        </th>

                        <th style="text-align:center">
                            @Html.DisplayNameFor(Model => Model.DataCadastro_)
                        </th>

                        <th style="text-align:center">
                        </th>

                        <th style="text-align:center">
                        </th>

                        <th style="text-align:center">
                        </th>
                    </tr>
                    <tr>

                        <th style="text-align:left">
                            <i class="fa fa-filter" aria-hidden="true"></i><br />
                            <input type="text" id="txtPesquisa" class="search" style="width:600px; max-width:600px" />
                        </th>


                    </tr>
                </thead>

                <tbody>
                    <tr></tr>


                </tbody>
            </table>



            <div id="pager"> </div>



        </div>
    </div>


}


