@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gerênciador de Arquivos</h1>
    <p class="lead">Gerênciador de Arquivos é uma aplicação desenvolvida pela empresa Bancodoc para monitoramento de arquivos em diferentes repositórios.</p>
     
</div>

 